@import "compass";
@import "colors";
@import "mixins";

/* Badge */
.badge {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    height: 4em;
    margin: 0;
    overflow: hidden;
    padding: .625em;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.badge a {
    text-decoration: none;
}

.badge a:hover {
    text-decoration: underline;
}

.badge__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.badge__icon {
    float: left;
    margin: 0 .625em 0 0;
}

 .badge__user-name {
    font-weight: 700;
    line-height: 1;
}

.badge__live {
    @include font-size(12);
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.badge__online {
    background: red;
    border-radius: 50%;
    display: inline-block;
    height: .7em;
    line-height: 1;
    width: .7em;
}

.badge__icon-eye {
    @include font-size(12);
    left: 4.583em;
    position: absolute;
    top: 0;
}

.badge__viewers {
    color: #808080;
    display: block;
    @include font-size(10);
    line-height: 1.3;
    position: relative;
}

.badge__viewer-number {
    display: inline-block;
    margin: 0 0 0 1.6em;
}

// Twitch
.badge--twitch.light {
    background: #eaeaea;

    a {
        color: #6441a5;
    }

    .badge__user-name a {
        color: #6441a5;
    }

    .badge__live {
        color: #333;
    }
}

.badge--twitch.dark {
    background: #2b2b2b;

    a {
        color: #b9a3e3;
    }

    .badge__user-name a {
        color: #b9a3e3;
    }

    .badge__live {
        color: #ccc;
    }
}

// Justin
.badge--justin {
    background: #f3f3f3;
    color: #262626;

    a {
        color: #0066CC;
    }
}

// UStream
.badge--ustream {
    background: #fff;
    color: #262626;

    a {
        color: #2487fe;
    }
}

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot');
    src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('fonts/icomoon.woff') format('woff'),
        url('fonts/icomoon.ttf') format('truetype'),
        url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.badge__icon-eye:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.badge__icon-eye:before {
    content: "\e001";
}